<resources>
    <settings>
        <setting propertyKey="@Properties.activityName" title="@Strings.activityName">
            <settingConfig type="alphaNumeric" />
        </setting>
        <setting propertyKey="@Properties.intervalAlerts" title="@Strings.intervalAlerts">
            <settingConfig type="boolean" />
        </setting>
    </settings>
</resources>